
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 50px;
  text-shadow: 2px 2px 2px #000;
}
.input {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  
  }

  .not-valid-word p {
    width: max-content !important;
    font-size: 28px !important;

  }
  
  .input form{
    display: flex;
    width: 330px;
    
  }
  
  .input input {
    display: inline-block;
    width: 200px;
    margin: 4px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 19px;
    font-weight: bold;
  }
  
  .input .submit {
    margin: 4px;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: unset;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    background-color: green;
    cursor: pointer;
    font-weight: bold;
  }
  
  .input .again-box {
    display: flex;
    width: 330px;
  }

  .input .play-again {
    margin: 4px;
    display: inline-block;
    width: 120px;
    height: 40px;
    border: unset;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .input p {
    display: inline-block;
    width: 200px;
    margin: 4px;
    height: 40px;
    font-size: 35px;
  }

  .sad {
    background-color: orange;
  }
  .happy {
    background-color: green;
  }

  .orange {
    color: orange;
    transition: 0.5s;
  }
  .green {
    color: green;
    transition: 0.5s;
  }

  .keyboard {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 510px;
    
    margin-left: auto;
    margin-right: auto;
  }